<template name="footer">
  <aside id="footer-widgets">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <h3 class="footer-widget-title">Sitemap</h3>
                  <ul class="list-unstyled three_cols">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">GitHub</a></li>
                      <li><a href="#">Contributors</a></li>
                      <li><a href="#">Project</a></li>
                      <li><a href="#">Chat</a></li>
                      <li><a href="#">Calendar</a></li>
                      <li><a href="#">Our Team</a></li>
                      <li><a href="#">Future</a></li>
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">Login</a></li>
                      <li><a href="#">Contact</a></li>
                  </ul>
                  <h3 class="footer-widget-title">Subscribe</h3>
                  <p>Lorem ipsum Amet fugiat elit nisi anim mollit in labore ut esse Duis ullamco ad dolor veniam velit lorem ipsum dolor sit amet, consectetur adipisicing..</p>
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Email Adress">
                      <span class="input-group-btn">
                          <button class="btn btn-success" type="button">Subscribe</button>
                      </span>
                  </div><!-- /input-group -->
              </div>
              <div class="col-md-4">
                  <div class="footer-widget">
                      <h3 class="footer-widget-title">Recent Mentions</h3>
                      <div class="media">
                          <a class="pull-left" href="#"><img class="media-object" src="img/m2.jpg" width="75" height="75" alt="image"></a>
                          <div class="media-body">
                              <h4 class="media-heading"><a href="#">Lorem ipsum Duis quis occaecat minim lorem ipsum tempor officia labor</a></h4>
                              <small>December 18, 2015</small>
                          </div>
                      </div>
                      <div class="media">
                          <a class="pull-left" href="#"><img class="media-object" src="img/m11.jpg" width="75" height="75" alt="image"></a>
                          <div class="media-body">
                              <h4 class="media-heading"><a href="#">Lorem ipsum dolor excepteur sunt in lorem ipsum cillum tempor</a></h4>
                              <small>January 14, 2016</small>
                          </div>
                      </div>
                      <div class="media">
                          <a class="pull-left" href="#"><img class="media-object" src="img/m4.jpg" width="75" height="75" alt="image"></a>
                          <div class="media-body">
                              <h4 class="media-heading"><a href="#">Lorem ipsum Dolor cupidatat adipisicing et fugiat</a></h4>
                              <small>February 9, 2016</small>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="footer-widget">
                      <h3 class="footer-widget-title">Recent Contributions</h3>
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                              <a href="#" class="thumbnail"><img src="img/1.jpg" class="img-responsive" alt="Image"></a>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                              <a href="#" class="thumbnail"><img src="img/2.jpg" class="img-responsive" alt="Image"></a>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                              <a href="#" class="thumbnail"><img src="img/3.jpg" class="img-responsive" alt="Image"></a>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
                              <a href="#" class="thumbnail"><img src="img/4.jpg" class="img-responsive" alt="Image"></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </aside> <!-- footer-widgets -->

  <footer id="footer">
      <p>&copy; 2016 <a href="#">Meteor Mentor</a>, inc. All rights reserved.</p>
  </footer>
</template>
