<template name="frontBody">
    <div class="section">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-3"  id="sidebar">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="http://placehold.it/70x70">
                        </div>
                        <div class="col-md-8">
                            <p>Hi Lukas!</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <p>Current Level</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <p>Latest Achievements</p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>... clean code | awarded by {{name}}</p>
                                <p>... clean code | awarded by {{name}}</p>
                            </div>
                        </div>
                        <p>Mentor-Feedback</p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <row>
                                    <div class="col-md-3">
                                        <img src="http://placehold.it/30x30">
                                    </div>
                                    <div class="col-mg-9">
                                        <p>Lorizzle that's the shizzle dolizzle uhuh ...</p>
                                    </div>
                                </row>
                                <row>
                                    <div class="col-md-3">
                                        <img src="http://placehold.it/30x30">
                                    </div>
                                    <div class="col-mg-9">
                                        <p>Yih! mofo, da bomb adipiscing my shizz.</p>
                                    </div>
                                </row>
                            </div>
                        </div>
                        <p>Current Projet/Team</p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <p>
                        <b>Projects</b>(Overview)</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">Project</div>
                                <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    <br>
                                    <br>
                                    <p>Progress</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                            <span class="sr-only">30% Complete</span>
                                        </div>
                                    </div>
                                    <br>
                                    <p>People</p>
                                    <div class="col-sm-1">
                                        <img src="http://placehold.it/15x15">
                                    </div>
                                    <div class="col-sm-1">
                                        <img src="http://placehold.it/15x15">
                                    </div>
                                    <br>
                                    <hr>
                                    <p class="navbar-text navbar-left">
                                        <a href="#" class="navbar-link">Join</a>
                                    </p>
                                    <p class="navbar-text navbar-right">
                                        <a href="#" class="navbar-link watch">Watch</a>
                                    </p>
                                </div>
                            </div>
                        </div><div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Project</div>
                            <div class="panel-body">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                <br>
                                <br>
                                <p>Progress</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
                                        <span class="sr-only">30% Complete</span>
                                    </div>
                                </div>
                                <br>
                                <p>People</p>
                                <div class="col-sm-1">
                                    <img src="http://placehold.it/15x15">
                                </div>
                                <div class="col-sm-1">
                                    <img src="http://placehold.it/15x15">
                                </div>
                                <br>
                                <hr>
                                <p class="navbar-text navbar-left">
                                    <a href="#" class="navbar-link">Join</a>
                                </p>
                                <p class="navbar-text navbar-right">
                                    <a href="#" class="navbar-link watch">Watch</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</template>
