<template name="frontbody">
  <section>
       <div id="carousel-example-generic" class="carousel carousel-mind slide">
           <!-- Wrapper for slides -->
           <div class="carousel-inner">
               <div class="item active">
                   <div class="container">
                       <div class="row">
                           <div class="col-md-6 col-sm-7">
                               <div class="carousel-caption">
                                   <div class="carousel-text">
                                      <h1>project highlights</h1>
                                      <ul class="list-unstyled carousel-list">
                                          <li class="animated bounceInLeft"><i class="fa fa-github"></i><span>Open Source</span></li>
                                          <li class="animated bounceInLeft"><i class="fa fa-code"></i><span>Another Benefit</span></li>
                                          <li class="animated bounceInLeft"><i class="fa fa-cog"></i><span>One More Benefit</span></li>
                                      </ul>
                                  </div>
                               </div>
                           </div>
                           <div class="col-md-6 col-sm-5 hidden-xs carousel-img-wrap">
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section> <!-- carousel -->

   <section id="mind-features">
       <div class="container">
           <div class="row">
               <div class="col-md-3 col-sm-6">
                  <article class="mind-features-item hover animated bounceInLeft animation-delay-8">
                      <div class="item-icon">
                          <i class="fa fa-dropbox"></i>
                      </div>
                      <div class="item-content">
                          <h3>Lorem ipsum mollit</h3>
                          <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur an aliquip eu sed voluptate in dour consequat sunt aute aliquacy ut exercitation minim cupidatat.</p>
                          <a href="#" class="btn btn-success pull-right">Read more</a>
                      </div>
                  </article> <!-- mind-features-item -->
              </div>
              <div class="col-md-3 col-sm-6">
                  <article class="mind-features-item hover animated bounceInLeft animation-delay-3">
                      <div class="item-icon">
                          <i class="fa fa-cloud-download"></i>
                      </div>
                      <div class="item-content">
                          <h3>Lorem ipsum mollit</h3>
                          <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur an aliquip eu sed voluptate in dour consequat sunt aute aliquacy ut exercitation minim cupidatat.</p>
                          <a href="#" class="btn btn-success pull-right">Read more</a>
                      </div>
                  </article> <!-- mind-features-item -->
              </div>
              <div class="col-md-3 col-sm-6">
                  <article class="mind-features-item hover animated bounceInRight animation-delay-6">
                      <div class="item-icon">
                          <i class="fa fa-html5"></i>
                      </div>
                      <div class="item-content">
                          <h3>Lorem ipsum mollit</h3>
                          <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur an aliquip eu sed voluptate in dour consequat sunt aute aliquacy ut exercitation minim cupidatat.</p>
                          <a href="#" class="btn btn-success pull-right">Read more</a>
                      </div>
                  </article> <!-- mind-features-item -->
              </div>
              <div class="col-md-3 col-sm-6">
                  <article class="mind-features-item hover animated bounceInRight animation-delay-10">
                      <div class="item-icon">
                          <i class="fa fa-tachometer"></i>
                      </div>
                      <div class="item-content">
                          <h3>Lorem ipsum mollit</h3>
                          <p>Lorem ipsum Labore adipisicing nisi magna do nisi pariatur an aliquip eu sed voluptate in dour consequat sunt aute aliquacy ut exercitation minim cupidatat.</p>
                          <a href="#" class="btn btn-success pull-right">Read more</a>
                      </div>
                  </article> <!-- mind-features-item -->
              </div>
           </div>
       </div>
   </section>

   <section class="animated fadeIn">
       <div class="container">
           <div class="row">
               <div class="col-md-8">
                   <h2 class="section-title">About us</h2>
                   <img src="/images/slackscreen.jpg" class="img-responsive alignleft imageborder" alt="Image">
                   <p class="p-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariant corpore benivolentiam solam valetudinis habeatur, manilium servire stabilitas concursio dedocendi, occultarum, cognosci plane panaetium prohiberet iudex illum parvam probo. Invidiae deserere multis argumentum quem. Istae detrimenti videntur hac hoc synephebos velint inveniri putat, factis erat posteri totam impetum aliquod existimant, subtilius opibus cyrenaicos veritatis malunt dicant acutus gessisse transferre. Cognitione assecutus voluerint videantur congressus putem huius legendos. Videtis cognitione alii virtus duo tarentinis, nomini repellendus, referta confidam irridente servata debitis igitur.</p>
                   <p class="p-lg">Domo splendido octavio. Maximasque. Inanes, orestem accedere tria amicitia copulatas dediti doctus desideraret perdiscere perpetiuntur. Attulit praeclara fingitur requietis fieri. Inbecilloque sinit lucilius lucilius atomorum, menandro officia lorem ipsum dolor sit.</p>
                   <div class="alert alert-info">
                       <strong>important info!</strong> Acuti consecutionem continens impendere materia desistunt, erroribus locupletiorem ipsius torquatos ponatur diligant unum quo, phaedrum efficeretur aegritudine utrum loqueretur ei tali, efficere reprehendunt, desistemus antipatrum seditiones.
                   </div>
               </div>
               <div class="col-md-4">
                   <h2 class="section-title">Our mission</h2>
                   <div class="panel-group" id="accordion">
                       <div class="panel panel-default">
                           <div class="panel-heading">
                               <h4 class="panel-title">
                                   <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                       Collapsible Group Item #1
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseOne" class="panel-collapse collapse in">
                               <div class="panel-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading">
                               <h4 class="panel-title">
                                   <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
                                       Collapsible Group Item #2
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseTwo" class="panel-collapse collapse">
                               <div class="panel-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven.
                               </div>
                           </div>
                       </div>
                       <div class="panel panel-default">
                           <div class="panel-heading">
                               <h4 class="panel-title">
                                   <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                                       Collapsible Group Item #3
                                   </a>
                               </h4>
                           </div>
                           <div id="collapseThree" class="panel-collapse collapse">
                               <div class="panel-body">
                                   Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven.
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div> <!-- container -->
   </section>
</template>
